# What is Pandas Series?


#### Series is One dimnentional Array

### Import necessary Libraries

In [75]:
import pandas as pd
import numpy as np

### Series from numpy array:

In [76]:
np_Array = np.array(["A", "B", "C", "D", "E"])
mySeries = pd.Series(np_Array)
print(mySeries)

0    A
1    B
2    C
3    D
4    E
dtype: object

### Series from python list:

In [77]:
py_List = ["A", "B", "C", "D", "E"]
mySeries1 = pd.Series(py_List)
print(mySeries1)

0    A
1    B
2    C
3    D
4    E
dtype: object

### Series from python Dictionary:

In [78]:
py_Dic = {"Ahmed":10, "Aqib": 20, "Ali": 30}
mySeries2 = pd.Series(py_Dic)
print(mySeries2)

Ahmed    10
Aqib     20
Ali      30
dtype: int64

### Series from python Range Function:

In [79]:
mySeries3 = pd.Series(range(1, 10, 2), index = ['a', 'b', 'c', 'd' ,'e'])
print(mySeries3)

a    1
b    3
c    5
d    7
e    9
dtype: int64

### Series Example 1

In [80]:
py_List = ["A1", "B1", "C1", "D1", "E1"]
mySeries1 = pd.Series(py_List, index = [0,1,2,3,4])
print(mySeries1)

0    A1
1    B1
2    C1
3    D1
4    E1
dtype: object

In [81]:
# Add an element at the end of series
mySeries1[5] = "M1"
mySeries1

0    A1
1    B1
2    C1
3    D1
4    E1
5    M1
dtype: object

In [82]:
# Replace value
mySeries1[0] = 'Ahmed'
mySeries1[3] = 'Ahmed'
mySeries1[4] = 'Ali'

In [83]:
mySeries1

0    Ahmed
1       B1
2       C1
3    Ahmed
4      Ali
5       M1
dtype: object

In [84]:
mySeries1.unique()

array(['Ahmed', 'B1', 'C1', 'Ali', 'M1'], dtype=object)

In [85]:
mySeries1.value_counts()

Ahmed    2
B1       1
C1       1
Ali      1
M1       1
Name: count, dtype: int64

### Series Example 2

In [86]:

# Sample Series 
mySeries = pd.Series([8,10 , 15, 20, 10, 26, 30, None], index=['a', 'b', 'c', 'd', 'e', 'f', 'g','h'])
mySeries

a     8.0
b    10.0
c    15.0
d    20.0
e    10.0
f    26.0
g    30.0
h     NaN
dtype: float64

In [87]:
mySeries.clip(lower=12, upper=25)

a    12.0
b    12.0
c    15.0
d    20.0
e    12.0
f    25.0
g    25.0
h     NaN
dtype: float64

### We can create a Series from a Data Frame Column: Will See in upcoming videos

# What is Pandas DataFrame?


#### DataFrame is two dimnentional Array (Tabular Form)

### 1) DataFrame from a list of lists:

In [88]:
data = [
    [4, 7, 10],
    [5, 8, 11],
    [6, 9, 12],
]
index = [1, 2, 3]
cols = ['a', 'b', 'c']
df = pd.DataFrame(data=data, index = index, columns = cols)
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### 2) DataFrame from a python dictionary:

In [89]:
data = {
        'a':[4, 7, 10],
        'b':[5, 8, 11],
        'c': [6, 9, 12],
}
index = [1, 2, 3]
df1 = pd.DataFrame(data=data, index = index, )
df1

    a   b   c
1   4   5   6
2   7   8   9
3  10  11  12

### 3) DataFrame from a tabular data file: (Excel, CSV, TSV, Json etc): In upcoming videos